<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    *{
      font-family: Arial;
      color: #ff0026;
    }
    h1{
      color: blue;
    }
    h2{
      color: greenyellow;
    }
    .title_box{
      border: 2px solid #222;
      border-radius: 5px;
      width: fit-content;
      padding: 0.5em;
    }

  </style>
</head>
<body>
<div class="title_box">
  <h1 th:text = "${message}">Hello from the html page with h1</h1>
</div>
<h2>Hello from the html page with h2</h2>
<p>Here should appear the report: </p>
<p th:text = "${report}">This is the report from the html page</p>
<p>Here should appear the rating: <span th:text = "${rating}"></span> as a span</p>


<p>again paragraph ...</p>

</body>
</html>