body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(26, 86, 86) 0%, rgb(79, 175, 175) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
}

h1{
    text-align: center;
    color: #073a3a;
}

#form button{
    background-color: #073a3a;
    color:white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}

/*--------------NAV----------------------------------*/


header{
    margin-top: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

main {
    justify-content: center;
    text-align: center;
    padding: 20px;
}

footer {
    background-color:#073a3a;
    color: white;
    padding: 10px;
    text-align: center;
}
