<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link href="/css/style.css" rel="stylesheet">



</head>
<body>
<div class="container my-5">
<form action="#" method="post" th:action="@{processLogin}" th:object="${loginModel}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input th:field="*{username}" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
<!--        <div id="usernameHelp" class="form-text"></div>-->
        <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input th:field="*{password}" type="text" class="form-control" id="password">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>


</body>
</html>