<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Your Website</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <h1>Portfolio app</h1>
</header>

<main>
    <section>
        <h2>Welcome to Portfolio App.</h2>
        <p>This is the home page content.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Portfolio App. All rights reserved.</p>
</footer>
</body>

</html>
