<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Portfolio app</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>

    <div class="container">
        <form method="post" action="/api/users/login" id="loginForm">
            <div>
                <h2>Login</h2>
            </div>

                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required minlength="3" maxlength="20">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required minlength="3" maxlength="20">

                    <button type="submit" data-bn-type="button" class="css-vl5c3z">Login</button>

        </form>
    </div>
<script src="/js/userApi.js"></script>


</body>
</html>
